@import "tailwindcss";

/* base */
@import "./variables.css";
@import "./components.css";
@import "./animation.css";

/* component-specific */
@import "./expressive-code.css";
@import "./photoswipe.css";
@import "./markdown.css";
@import "./markdown-extend.css";
@import "./scrollbar.css";

@plugin '@tailwindcss/typography';

@layer base {
  html {
    font-family: var(--font-sans);
  }
}

@theme {
  --font-sans: "Exo 2 Variable", "Noto Sans SC Variable", ui-sans-serif, system-ui, sans-serif;
  --font-mono:
    "Cascadia Mono Variable", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
}

@custom-variant dark (&:where([data-site-theme=dark], [data-site-theme=dark] *));
