.pswp__button {
  transition: background-color 0.3s ease !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  @apply w-12! h-12! rounded-md;
}

.pswp__button:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.pswp__button:active {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.pswp__button--zoom,
.pswp__button--close {
  @apply mt-4!;
  transition: transform 0.2s ease;
}

.pswp__button--zoom:active,
.pswp__button--close:active {
  transform: scale(0.9);
}

.pswp__button--zoom {
  @apply mr-2.5!;
}

.pswp__button--close {
  @apply mr-4!;
}
