/* Page transition animations with Swup */

/* Animations for components */

/* Main components */
.onload-animation {
  opacity: 0;
  animation-fill-mode: forwards;
}

/* Animation Delay for components */
#navbar {
  animation-delay: 0ms;
}
#sidebar {
  animation-delay: 100ms;
}
.footer {
  animation-delay: 250ms;
}