---
import { Icon } from "astro-icon/components";
---

<!-- There can't be a filter on parent element, or it will break `fixed` -->
<div class="back-to-top-wrapper">
  <div class="absolute right-0 bottom-0 h-15 w-15">
    <div id="back-to-top-btn" class="hide" onclick="backToTop()">
      <button aria-label="Back to Top" class="btn-card">
        <Icon name="material-symbols:keyboard-arrow-up-rounded" class="mx-auto text-4xl" />
      </button>
    </div>
  </div>
</div>

<style>
  @reference "tailwindcss";

  .back-to-top-wrapper {
    @apply max-w-(--page-width) mx-auto hidden lg:block pointer-events-none relative;
  }

  #back-to-top-btn {
    @apply flex items-center border-none pointer-events-auto
       fixed opacity-100;

    bottom: 10.5rem;
    transition: all 150ms ease-in-out;
    transform: translateX(3.5rem);

    &>button {
      @apply h-15 w-15 rounded-2xl text-(--primary) font-bold cursor-pointer;
    }

    &.hide {
      transform: translateX(3.5rem) scale(0.9);
      opacity: 0;
      pointer-events: none;
    }

    &:active {
      transform: translateX(3.5rem) scale(0.9);
    }
  }
</style>

<script is:raw is:inline>
  function backToTop() {
    window.scroll({ top: 0, behavior: "smooth" });
  }
</script>
